.blocklyToolboxCategoryLabel {
  font-size: 32px !important;
  margin: 10px;
}

.blocklyToolboxCategory:not(:has(input[type="search"])) {
  height: 30px !important;
  border: 1px solid rgba(0, 128, 0, 0.4);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: #fff;
  margin: 2px;
  padding: 10px;
  align-content: center;
  outline: none; /* Fokus-Ring weg */
}

/* Makes the icon bigger and green */
.customIcon {
  font-size: 20px;
  padding: 10px;
}
