.wrapper {
  min-height: calc(100vh - 60px); /* will cover the 100% of viewport - height of footer (padding-bottom) */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer + 30px*/
}
